# 01. Importing libraries

In [28]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [29]:
X = 2

In [30]:
x

NameError: name 'x' is not defined

In [31]:
X

2

In [32]:
type(X)

int

In [33]:
y = 5.786

In [34]:
type(y)

float

In [35]:
z = 'India'

In [36]:
type(z)

str

In [38]:
type(True)

bool

In [40]:
print(X)

2

In [44]:
X = X+4

In [45]:
print(X)

8

In [54]:
a='Hello '

In [55]:
b='duggu'

In [56]:
a+b

'Hello duggu'

In [57]:
c='parth '

In [58]:
c * 5

'parth parth parth parth parth '

In [59]:
X == y

False

In [61]:
type(X==y)

bool

In [66]:
#Addition
a = 50
b = 50
print('sum','=', a + b)

sum = 100

In [67]:
#Addition and Subtraction
a = 150
b = 20
c = 70
print('result', '=', a + b - c)

result = 100

In [70]:
#Addition and Subtraction
a = 200
b = 50
c = 50
print('result', '=', a - b - c)

result = 100

In [71]:
#floating point variables
a = 25.7
b = 6.4
print('result', '=', a/b)

result = 4.015625

In [75]:
#a short word made of separate strings
a = 'Data '
b = 'Analytics'
print('result', '=', a + b)

result = Data Analytics

In [82]:
#short sentences made of separate strings.
city = 'India'
population = '1.408 billion'
famous_landmark ='Taj Mahal'
sentence = 'In ' + city + ', with a population of ' + population + ', You can visit the famous ' + famous_landmark + '.'
print(sentence)

In India, with a population of 1.408 billion, You can visit the famous Taj Mahal.

In [90]:
#short sentences made of separate strings.
animal = 'Dog'
color = 'Brown'
sound = 'barks'
sentence = 'The ' +color + ' ' +animal + ' ' +sound +' ' 'Loudly' '.'
print(sentence)

The Brown Dog barks Loudly.

In [93]:
#Bonus task-include a command that makes a string appear 100 times.
string = 'Data Analytics ' * 100
print(string)

Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics Data Analytics